*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --black:          #201e1c;
    --main-purple:    #9655BE;
    --word-purple:    #5F3F73;
    --soft-purple:    #BEAEE2;
    --soft-green:     #CDF0EA;
    --soft-pink:      #FBACCC;
    --pink:           #BB6D8D;
    --grey:           #aeaeae;
    --off-white:      #f2f2f2;
    --just-white:     #fff;
}

#stack {
  width: 50px;
  height: 100%;
  background-color: rgb(217, 177, 255);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  overflow-y: auto;
}

#stack::-webkit-scrollbar {
  width: 0.1em;
}

#stack::-webkit-scrollbar-thumb {
  background-color: transparent;
}

#stack-item{
  width: 80%;
  height: 40px;
  min-height: 40px;
  background-color: blueviolet;
  color: aliceblue;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: center;
  border-radius: 3px;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 32px;
}

.word-input{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--grey);
    padding-left: 10px;
    font-size: 16px;
}

.word-input:focus{
    border-color: var(--soft-purple);
    outline: none;
}

.word-input:hover{
    border-color: var(--soft-purple);
    outline: none;
}

.word-button{
    color: var(--just-white);
    font-size: 20px;
    font-weight: bold;
    background-color: var(--main-purple);
    border: none;
    height: 40px;
    min-width: 90px;
    border-radius: 5px;
    cursor: pointer;
}

.word-button:hover{
    background-color: var(--word-purple);
}

.languanges-select{
  width: 200px; 
  color: var(--black);
  padding: 10px; 
  font-size: 16px; 
  border: 1px solid var(--grey); 
  border-radius: 5px; 
  background-color: #fff; 
  cursor: pointer; 
}

.languanges-select option {
    color: var(--grey);
    padding: 10px; 
  }

.languanges-select option:hover {
    background-color: rebeccapurple;
    color: #201e1c;
  }

.languanges-select:focus {
    outline: none; 
    border-color: var(--soft-purple); 
    box-shadow: 0 0 5px var(--main-purple); 
}

main {
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    width: 100%;
    height: 80vh;
    flex-direction: column;
    flex-wrap: wrap; 
  }
  
  
  .information {
    width: 75%;
    height: 80px;
    display: flex;
    justify-content: space-between;
  }

  .w-information{
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .word-checking{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-right: 50px;
    color: var(--word-purple);
  }

  .symbol-checking{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    width: 35px;
    min-width: 35px;
    height: 35px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--soft-purple);
    border-radius: 3px;
    color: var(--just-white);
  }

  .speed-control{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .speed-control span{
    font-size: 30px;
    font-weight: bold;
    color: var(--word-purple);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  }
  
  input[type="range"] {
    width: 85%;
  }

  .graph {
    display: flex;
    width: 75%;
    height: calc(100% - 80px);
  }
  
  .historial {
    padding-left: 40px;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    
  }

  .historial div{
      height: 100%;
      width: 100%;
      background-color: var(--soft-purple);
      border-radius: 10px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      padding: 20px;
  }

  .historial-tittle{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    color: var(--black);
    font-family: Arial, Helvetica, sans-serif;
  }

  .historial-list{
    overflow-y: auto;
    width: 100%;
  }

  .historial-list::-webkit-scrollbar {
    width: 0.5em; 
  }
  
  .contenedor::-webkit-scrollbar {
    width: 0.5em; 
  }
  
  .contenedor::-webkit-scrollbar-thumb {
    background-color: transparent; 
  }::-webkit-scrollbar-thumb {
    background-color: transparent; 
  }

  .historial-tile{
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: var(--word-purple);
    margin-bottom: 10px;
  }

  .historial-tile span{
    border-radius: 3px;
    text-align: center;
    width: 25px;
    height: 21px;
    color: var(--pink);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .w-validated{
    background-color: #CDF0EA;
  }

  .w-rejected{
    background-color: var(--soft-pink);
  }

  footer{
    padding-top: 20px;
    padding-left: 35px;
  }

  footer h2{
    color: var(--black);
    font-size: 16px;
    font-family: Arial;
  }
  
